# Data Processing
pandas==2.2.2
numpy==1.26.4

# Visualization
matplotlib==3.8.4
seaborn==0.13.2

# Machine Learning
scikit-learn==1.4.2

# Time Series Modeling
statsmodels==0.14.2

# Forecasting Models
prophet==1.1.5

# Deep Learning
tensorflow==2.15.0

# Notebook Environment
jupyter==1.0.0
ipykernel==6.29.4
